* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
}

.cabecalho {
    background: #333;
    border-bottom: 5px solid #4faddb;
    height: 80px;
    box-sizing: content-box;
    flex-direction: row;
}

.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
    border-radius: 5px;
}

.logo a {
    text-decoration: none;
}


.imgLogo {
    margin: 10px;
    color: white;
    height: 100%;
}

.menu-toggle {
    float: right;
    color: #eee;
    background-color: #555;
    border: 1px solid #777;
    border-radius: 5px;
    height: 45px;
    padding: 10px 15px;
    margin: 20px;
    cursor: pointer;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}


.menu ul {
    margin: 0px;
    padding: 0px;
}

.menu li {
   display: inline-block;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3rem;
}

.menu a {
    padding: 15px;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}

.autenticacao 